<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <!-- JavaScript Bundle with Popper -->
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/favicon.jpg}" type="image/icon type">
    <section layout:fragment="head">
    </section>
</head>
<body>
<!-- Main Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark mb-3 nav-custom-color" >
        <!--<a class="navbar-brand px-3" th:href="@{/}">CCVV</a>-->
            <a class="navbar-brand px-3" th:href="@{/}"><img th:src="@{/images/logof.jpg}" alt="FranceServiceLogo" class="logo"><img th:src="@{/images/Logov.jpg}" alt="VaisonVentouxLogo" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Accueil</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SUPERADMIN', 'ROLE_ADMIN')" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item custom-color-a" th:href="@{'/main/admin/users/'}">Gestion des utilisteurs</a></li>
                            <li><a class="dropdown-item custom-color-a" th:href="@{'/rdvs/'}">Gestion des RDV</a></li>
                            <li><a class="dropdown-item custom-color-a" th:href="@{'/reasons_rdv'}">Motifs des RDV</a></li>
                            <li><a class="dropdown-item custom-color-a" th:href="@{'/indisponible'}">Jours d'indisponibilité</a></li>
                           <!-- <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item custom-color-a" th:href="@{'/find-path/'}">Recherche d'itinéraire</a></li>
                            <li><a class="dropdown-item custom-color-a" th:href="@{'/holiday/'}">Jours fériés</a></li>
                            <li><a class="dropdown-item custom-color-a" th:href="@{'/with-layout/'}">Layout</a></li>-->
                        </ul>
                    </li>
                </ul>

<!--                TEMPORAL NAME OF ACTUAL USER-->
                <!--<ul class="navbar-nav mx-auto px-3">
                    <li class="nav-item">
                        <span>Technical data: connected User name [</span>
                        <span sec:authentication="name"></span>
                        <span>]</span>
                    </li>
                </ul>-->
<!--                END TEMPORAL NAME OF ACTUAL USER-->


                <ul class="navbar-nav navbar-nav-right px-3">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/change-password/}">Changer MDP</a>
                    </li>

<!--                    <li class="nav-item">-->
<!--                        Bienvenue <b>[[${#request.userPrincipal.principal.getUsername}]]</b>-->
<!--                        <span sec:authentication="principal.authorities">Rôles</span>-->
<!--                    </li>-->

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/my-logout}">Se déconnecter</a>
                    </li>
                </ul>
            </div>
    </nav>


<!-- Flash Attribute -->
<div class="mb-3">
    <div
            th:if="not ${#strings.isEmpty(flash)}"
            th:class="'rounded-0 m-0 alert alert-dismissible fade show alert-' + ${flashType}"
            role="alert"
    >
        <p class="m-0" th:text="${flash}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<!-- Content Section -->

<section layout:fragment="content" class="section">
    <!--<p>This is filled by the content template.</p>-->

</section>

<footer>
    <p>&copy; 2022 Communauté de communes Vaison Ventoux. Tous droit réservés.</p>
</footer>


<!-- Optional Section -->
<!--<th:block layout:fragment="optional" />-->

</body>
</html>