<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="text-center">
            <div>
                <h1>Prendre RDV</h1>
            </div>
            <form th:action="@{/rdvs/new/hour}" method="post" th:object="${rdv}" style="max-width: 500px; margin: 0 auto;">
                <div class="border border-secondary rounded p-3">

                    <input type="hidden" th:field="*{id}">

                    <div class="form-group row py-1">
                        <label class="col-sm-4 form-label">Nom : </label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{name}" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row py-1">
                        <label class="col-sm-4 form-label">Prénom : </label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{firstName}" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row py-1">
                        <label class="col-sm-4 form-label">Téléphone : </label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{phoneNumber}" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row py-1">
                        <label class="col-sm-4 form-label">Mail : </label>
                        <div class="col-sm-8">
                            <input type="email" th:field="*{mail}" class="form-control" id="mailField"/>
                        </div>
                    </div>

                    <div class="form-group row py-1">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8 text-start">
                            <label class="form-check-label" for="noMail">
                            <input class="form-check-input" id="noMail" type="checkbox" name="hasNoMail" th:checked="${hasNoMail}"
                                   onchange="document.getElementById('mailField').disabled = this.checked" /> Pas d'adresse mail</label>
                        </div>
                    </div>


                    <div class="form-group row py-1">
                        <label for="holiday" class="col-sm-4 form-label">Date : </label>
                        <div class="col-sm-8">
                            <input type="date" data-date="" data-date-format="YYYY MM DD" class="form-control" th:field="*{date}" id="holiday">
                        </div>
                    </div>

                    <!------------  Bad practise of option, do not reuse  ------------>

                    <div class="form-group row py-1">
                        <label class="col-sm-4 form-label ">Commune : </label>
                        <div class="col-sm-8">

                            <select class="form-select" th:field="*{city}"/>
                                <option th:each="city: ${cities}"
                                        th:value="${city.id}"
                                        th:text="${city.name}"
                                        th:selected="${city.id == selectedCityId}"
                                ></option>
                            </select>
                        </div>
                    </div>

                    <!------------  END Bad practise of option, do not reuse  ------------>

                    <div class="form-group row py-1">
                        <label class="col-sm-4 form-label ">Motif : </label>
                        <div class="col-sm-8">

                            <select class="form-select" th:field="*{reasonRdv}">
                                <option th:each="reasonRdv: ${reasonsRdv}"
                                        th:value="${reasonRdv.id}"
                                        th:text="${reasonRdv.name}"
                                        th:selected="${rdv.reasonRdv}"
                                ></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row py-1 mx-1">
                        Conformément le règlement général sur la protection des données, j'ai informé personne concerné de sauvegarde des données personnelles pendant 30 jours
                    </div>

                    <div class="form-group row py-1">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8 text-start">
                            <label class="form-check-label" for="RGPDid">
                                <input class="form-check-input" type="checkbox" value="" id="RGPDid"
                                       onchange="document.getElementById('trouvezUnCreneau').disabled = !this.checked"> Je confirme</label>
                        </div>
                    </div>

                    <div class="text-center py-2">
                        <button id="trouvezUnCreneau" disabled class="btn btn-warning m-2" type="submit">Trouvez un créneau</button>
                        <a class="btn btn-secondary m-2" th:href="@{..}">Abandonner</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>