<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid text-center px-5">
            <div class="row">
                <div class="col-4"><a class="btn btn-warning btn-md m-1 btn-size-custom-large" th:href="@{/rdvs/new}">Ajouter un RDV</a></div>
                <div class="col-4"><h1>Gestion des RDV</h1></div>
                <div class="col-4">
                    <a class="btn btn-outline-warning btn-md m-1 btn-size-custom-large" th:href="@{/rdvs/new}">Voir les RDV passés</a>
                    <a class="btn btn-outline-warning btn-md m-1 btn-size-custom-large" th:href="@{/rdvs/new}">Voir les RDV annulés</a>
                </div>
            </div>

            <div th:if="${message}" class="alert alert-success text-center my-2">
                [[${message}]]
            </div>

            <div>
                <table class="table my-0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Motif</th>
                        <th>Commune</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Créé par</th>
                        <th>Créé le</th>
                        <th>Modifié par</th>
                        <th>Modifié le</th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="rdv : ${rdvs}">
                        <tr>
                            <td>[[${rdv.id}]]</td>
                            <td>[[${rdv.reasonRdv.name}]]</td>
                            <td>[[${rdv.city.name}]]</td>
                            <td>[[${rdv.name}]]</td>
                            <td>[[${rdv.firstName}]]</td>
                            <td>[[${rdv.phoneNumber}]]</td>
                            <td>[[${rdv.email}]]</td>
                            <td>[[${rdv.date}]]</td>
                            <td>[[${rdv.time}]]</td>
                            <td>[[${rdv.createdBy}]]</td>
                            <td>[[${rdv.createdAt}]]</td>
                            <td>[[${rdv.modifiedBy}]]</td>
                            <td>[[${rdv.modifiedAt}]]</td>
                            <td>[[${rdv.status}]]</td>
                            <td class="pt-0 pb-1">
                                <!----------- for use mt-1 for <a></a> <td></td> should be pt-0 pb-1 ----------->
                                <a class="btn btn-warning btn-sm mt-1 btn-size-custom-small" th:href="@{'/rdvs/edit/' + ${rdv.id}}">Editer</a>
                                <a class="btn btn-danger btn-sm mt-1 btn-size-custom-small"  th:attr="onclick=|return confirm('Confirmez-vous la suppression de l\'rdv \'${rdv.name}\'')|" th:href="@{'/rdvs/cancel/' + ${rdv.id}}">Annuler</a>
                            </td>
                        </tr>

                    </th:block>
                    </tbody>
                </table>
            </div>
    </div>
</div>
</body>
</html>