<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid text-center px-5">
            <div class="row">
                <div class="col-4"><a class="btn btn-warning btn-md m-1 btn-size-custom-large" th:href="@{'/rdvs/new?date=' + ${dateOfSearchedRdvs}}">Ajouter un RDV</a></div>
                <div class="col-4"><h1>Gestion des RDV</h1></div>
                <div class="col-4">
                    <a class="btn btn-outline-warning btn-md m-1 btn-size-custom-large" th:href="@{/rdvs/passed}">Voir les RDV passés</a>
                    <a class="btn btn-outline-warning btn-md m-1 btn-size-custom-large" th:href="@{/rdvs/cancelled}">Voir les RDV annulés</a>
                </div>
            </div>
            <div class="row">
                <div><h1>[[${#temporals.format(dateOfSearchedRdvs,'dd MMMM yyyy')}]]</h1></div>
            </div>

            <div th:if="${message}" class="alert alert-success text-center my-2">
                [[${message}]]
            </div>

            <div>
                <table class="table my-0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Commune</th>
                        <th>Motif</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Statut</th>
                        <th
                                th:if="${not #strings.contains(#httpServletRequest.requestURI, 'rdvs/cancelled')
                                AND not #strings.contains(#httpServletRequest.requestURI, 'rdvs/passed')}"
                        >Gestion</th>
                    </tr>
                    </thead>


                    <tbody>
                        <span th:if="${!rdvs.empty}">
<!--                        <th:block th:each="rdv : ${rdvs}">-->
                            <th:block th:each="rdv : ${#lists.sort(rdvs, rdvComparator)}">
                                <tr>
                                    <td>[[${rdv.id}]]</td>

                                    <span sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERADMIN')">
                                        <td><a href="#" class="a-text-orange" data-bs-toggle="modal" th:attr="data-bs-target='#exampleModal' + *{rdv.id}">[[${rdv.name}]]</a></td>
                                    </span>
                                    <span sec:authorize="hasRole('ROLE_UTILISATEUR')">
                                        <span th:if="${rdv.city.getName()} == ${currentUserCityName} or ${rdv.createdBy} == ${currentUserName} or ${rdv.modifiedBy} == ${currentUserName}">
                                            <td><a href="#" class="a-text-orange" data-bs-toggle="modal" th:attr="data-bs-target='#exampleModal' + *{rdv.id}">[[${rdv.name}]]</a></td>
                                        </span>
                                        <span th:unless="${rdv.city.getName()} == ${currentUserCityName} or ${rdv.createdBy} == ${currentUserName} or ${rdv.modifiedBy} == ${currentUserName}">
                                            <td>Accès limité</td>
                                        </span>
                                    </span>

                                    <span sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERADMIN')">
                                        <td>[[${rdv.firstName}]]</td>
                                    </span>
                                    <span sec:authorize="hasRole('ROLE_UTILISATEUR')">
                                        <span th:if="${rdv.city.getName()} == ${currentUserCityName} or ${rdv.createdBy} == ${currentUserName} or ${rdv.modifiedBy} == ${currentUserName}">
                                            <td>[[${rdv.firstName}]]</td>
                                        </span>
                                        <span th:unless="${rdv.city.getName()} == ${currentUserCityName} or ${rdv.createdBy} == ${currentUserName} or ${rdv.modifiedBy} == ${currentUserName}">
                                            <td>Accès limité</td>
                                        </span>
                                    </span>

                                    <td>[[${rdv.city.name}]]</td>

                                    <span sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERADMIN')">
                                        <td>[[${rdv.reasonRdv.name}]]</td>
                                    </span>
                                    <span sec:authorize="hasRole('ROLE_UTILISATEUR')">
                                        <span th:if="${rdv.city.getName()} == ${currentUserCityName} or ${rdv.createdBy} == ${currentUserName} or ${rdv.modifiedBy} == ${currentUserName}">
                                            <td>[[${rdv.reasonRdv.name}]]</td>
                                        </span>
                                        <span th:unless="${rdv.city.getName()} == ${currentUserCityName} or ${rdv.createdBy} == ${currentUserName} or ${rdv.modifiedBy} == ${currentUserName}">
                                            <td>Accès limité</td>
                                        </span>
                                    </span>

                                    <td>[[${#temporals.format(rdv.date,'dd-MM-yyyy')}]]</td>
                                    <td>[[${rdv.time}]]</td>
                                    <td>[[${rdv.status}]]</td>

                                    <span sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERADMIN')">
                                        <td class="pt-0 pb-1"
                                            th:if="${not #strings.contains(#httpServletRequest.requestURI, 'rdvs/cancelled')
                                            AND not #strings.contains(#httpServletRequest.requestURI, 'rdvs/passed')}">
                                            <!----------- for use mt-1 for <a></a> <td></td> should be pt-0 pb-1 ----------->
                                            <a class="btn btn-warning btn-sm mt-1 btn-size-custom-small" th:href="@{'/rdvs/edit/' + ${rdv.id}}">Editer</a>
                                            <a class="btn btn-danger btn-sm mt-1 btn-size-custom-small"  th:attr="onclick=|return confirm('Confirmez-vous la suppression de l\'rdv \'${rdv.name}\'')|" th:href="@{'/rdvs/cancel/' + ${rdv.id}}">Annuler</a>
                                        </td>
                                    </span>
                                    <span sec:authorize="hasRole('ROLE_UTILISATEUR')">
                                        <span th:if="${rdv.city.getName()} == ${currentUserCityName} or ${rdv.createdBy} == ${currentUserName} or ${rdv.modifiedBy} == ${currentUserName}">
                                            <td class="pt-0 pb-1"
                                                th:if="${not #strings.contains(#httpServletRequest.requestURI, 'rdvs/cancelled')
                                            AND not #strings.contains(#httpServletRequest.requestURI, 'rdvs/passed')}">
                                            <!----------- for use mt-1 for <a></a> <td></td> should be pt-0 pb-1 ----------->
                                            <a class="btn btn-warning btn-sm mt-1 btn-size-custom-small" th:href="@{'/rdvs/edit/' + ${rdv.id}}">Editer</a>
                                            <a class="btn btn-danger btn-sm mt-1 btn-size-custom-small"  th:attr="onclick=|return confirm('Confirmez-vous la suppression de l\'rdv \'${rdv.name}\'')|" th:href="@{'/rdvs/cancel/' + ${rdv.id}}">Annuler</a>
                                        </td>
                                        </span>
                                        <span th:unless="${rdv.city.getName()} == ${currentUserCityName} or ${rdv.createdBy} == ${currentUserName} or ${rdv.modifiedBy} == ${currentUserName}">
                                            <td class="pt-0 pb-1"
                                                th:if="${not #strings.contains(#httpServletRequest.requestURI, 'rdvs/cancelled')
                                            AND not #strings.contains(#httpServletRequest.requestURI, 'rdvs/passed')}">Accès limité</td>
                                        </span>
                                    </span>

                                </tr>

                                <!----------------- MODAL - START ----------------->

                                <div class="modal fade" th:attr="id='exampleModal' + *{rdv.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">[[${rdv.name}]]</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="text-align: left">
                                                <div class="row">
                                                    <div class="col-4">Nom : </div>
                                                    <div class="col-8">[[${rdv.name}]]</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">Prénom : </div>
                                                    <div class="col-8">[[${rdv.firstName}]]</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">Commune : </div>
                                                    <div class="col-8">[[${rdv.city.name}]]</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">Motif : </div>
                                                    <div class="col-8">[[${rdv.reasonRdv.name}]]</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">Date et l'heure : </div>
                                                    <div class="col-8">[[${#temporals.format(rdv.date,'dd-MM-yyyy')}]] à [[${rdv.time}]]</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">Téléphone : </div>
                                                    <div class="col-8">[[${rdv.phoneNumber}]]</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">Mail : </div>
                                                    <div class="col-8">[[${rdv.mail}]]</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">Status : </div>
                                                    <div class="col-8">[[${rdv.status}]]</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">Créé par : </div>
                                                    <div class="col-8">[[${rdv.createdBy}]]</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">Créé le : </div>
                                                    <div class="col-8">[[${#temporals.format(rdv.createdAt,'dd-MM-yyyy HH:mm')}]]</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">Modifié par : </div>
                                                    <div class="col-8">[[${rdv.modifiedBy}]]</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">Modifié le : </div>
                                                    <div class="col-8">[[${#temporals.format(rdv.modifiedAt,'dd-MM-yyyy HH:mm')}]]</div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!----------------- MODAL - END ----------------->

                            </th:block>
                        </span>
                        <span th:unless="${!rdvs.empty}">
                            <tr>
                                <td colspan="9" class="py-5"><h4>Pas de rendez-vous enregistrées pour ce jour-là</h4></td>
                            </tr>
                        </span>
                    </tbody>
                </table>
            </div>
    </div>
</div>
</body>
</html>