.borders {
    border: red solid 1px;
}

.a-text-orange {
    color: #c16b24 !important; // Define your own color in your CSS
}
.a-text-orange:hover, .a-text-orange:active {
    color: #c16b24 !important; // Define your own color's darkening/lightening in your CSS
}

nav {
    background-color: #c16b24;
}
.navbar-nav-right {
    margin-left: auto;
}
table.table-bordered > thead > tr > th{
    border:1px solid #c16b24;
    color: white;
    background-color: #c16b24;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-border-pageable {
    border-color: rgb(193, 107, 36) !important;
}

.col-size-id {
    width: 9%;
}

.col-size-nom {
    width: 14%;
}

.col-size-type {
    width: 10%;
}

.col-size-email {
    width: 28%;
}

.col-size-commune {
    width: 23%;
}

.col-size-editer-supprimer {
    width: 16%;
}