.borders {
    border: red solid 1px;
}

.a-text-orange {
    color: #c16b24 !important; // Define your own color in your CSS
}
.a-text-orange:hover, .a-text-orange:active {
    color: #c16b24 !important; // Define your own color's darkening/lightening in your CSS
}

.nav-custom-color {
/*    background-color: #c16b24; */
    background-color: #F59E0B;
}
.navbar-nav-right {
    margin-left: auto;
}

/* .custom-color-a, */
.custom-color-a:focus
/* .custom-color-a:hover */ {
/*    color: #3366E7 !important; */
    background-color: #F59E0B !important;
}


/* table.table-bordered > thead > tr > th{
    border:1px solid #F59E0B;
    color: white;
    background-color: #F59E0B;
} */

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-border-pageable {
    border-color: rgb(193, 107, 36) !important;
}

.col-size-id {
    width: 9%;
}

.col-size-nom {
    width: 14%;
}

.col-size-type {
    width: 10%;
}

.col-size-email {
    width: 28%;
}

.col-size-commune {
    width: 23%;
}

.col-size-editer-supprimer {
    width: 16%;
}

.hours-page {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-size-custom-large {
    width: 11rem !important;
}

.btn-size-custom-small {
    width: 5rem !important;
}

/*************************JOURS NON DISPONIBLES************************/

.linkjoursnondispo{
     color:#000;
     text-decoration:none;
     padding:0.6rem;
     border-radius:4px;
     background-color: #f59e0b;
     font-size:1.2rem;
}

.linkjoursnondispo:hover{
    color:#fff;
}

.joursnondispo{
    margin:2rem;
    font-size:2rem;
}

.pageTitle{
    font-size:1.2rem;
    color:#f59e0b;
    margin:2rem;
}
