<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Les jours Non Disponible</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid text-center">
    <div><h1 class="joursnondispo">Les jours Non Disponible</h1></div>
    <div class="m-4">
        <a class="h2 linkjoursnondispo" th:href="@{/indisponible/new}">Ajouter les jours non disponible</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center my-2">
        [[${message}]]
    </div>


    <table class="table my-0">
        <thead class="table my-0">
        <tr>
            <!--<th>Id</th>-->
            <th>Date</th>
          <th>Ajouter  Par</th>
            <th>Date d'ajout</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <th:block th:each="entityUnavailableDays : ${listDays}">
                <tr>
                    <!--<td>[[${entityUnavailableDays.id}]]</td>-->
                    <td>[[${entityUnavailableDays.date}]]</td>
                    <td>[[${entityUnavailableDays.createdBy}]]</td>
                    <!--<td>[[${entityUnavailableDays.createdAt}]]</td>-->
                    <td>[[${#temporals.format(entityUnavailableDays.createdAt,'dd-MM-yyyy HH:mm')}]]</td>
                    <td>
                        <!--<a class="btn btn-primary btn-sm" th:href="@{'/indisponible/modifier/' + ${entityUnavailableDays.id}}">Modifier</a>-->
                        <a class="btn btn-danger btn-sm"  th:attr="onclick=|return confirm('Confirmez-vous la suppression de l\'indisponibilite \'${entityUnavailableDays.createdBy}\'')|" th:href="@{'/indisponible/supprimer/' + ${entityUnavailableDays.id}}">Supprimer</a>

                    </td>
                </tr>

            </th:block>
        </tbody>

    </table>
</div>
</div>
</body>
</html>